# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

menu "My Course Application Config"

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"

config MY_CONFIGURATION_VALUE
	int "My configuration value"
	range 0 99
	default 0

config MY_CONFIGURATON_GREETING
	string "This phrase will be used to greet from application"
	default "Zephyr Course"
	help
	  Phrase used to greet from application.

config MY_BOOLEAN_CONFIG
    bool "My beloved boolean config"
    default N
    help 
      Just to test it out

endmenu
